body {
  font-family: helvetica, sans-serif;
  font-size: 15px;
  margin-bottom: 10em;
}

h1 {
  padding: 0;
  margin: 10px;
  color: #133B5B;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}

.section {
  border: 2px solid #133B5B;
  border-radius: 3px;
  margin: 5px;
  padding-left: 0;
}


.listing {
  overflow: scroll;
  width: 100%;
  height: 10em;
  margin-left: 0;
  padding: 0;
}

.listing li {
  padding-left: 0;
  list-style: none;
  margin: 5px;
  background: #F1F1F1;
}

@media screen and (min-width: 50px) and (max-width: 767px) {

body {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px;
  font-size: 12px;
}

h1 {
  font-size: 20px;
  margin: 2px;
}

.container {
  width: 100%;
}

.section {
  width: 100%;
  margin-bottom: 5px;
}

}

@media screen and (min-width: 768px) and (max-width: 999px) {
body {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.section {
  width: 100%;
  }
}

@media screen and (min-width: 1000px) {
body {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.section {
  width: 100%;
  }
}
